<div aria-label="tertiary navbar" class="tertiary-nav">
  <ul id="tertiaryNav" role="tablist" class="nav nav-tabs">
      <li class="nav-item"><a aria-selected="true" class="nav-link active" data-toggle="tab" href="#tabItem1" role="tab">search</a></li>
      <li class="nav-item"><a aria-selected="false" class="nav-link" data-toggle="tab" href="#tabItem2" role="tab">Loan</a></li>
      <li class="nav-item"><a aria-selected="false" class="nav-link" data-toggle="tab" href="#item3" role="tab">submit</a></li>
      <li class="nav-item"><a aria-selected="false" class="nav-link" data-toggle="tab" href="#item4" role="tab">Logout</a></li>
  </ul>
</div>
<div class="card">
  <div class="card-body">
      <div class="tab-content" id="tertiaryNavTabContent">
          <div class="tab-pane show active" id="tabItem1">
              <div class="card-body">
                 
                  <p class="card-text">search for loan details.</p>
              </div>
          </div>
          <div class="tab-pane" id="tabItem2">
              <div class="card-body">
                <nav class="nav nav-pills flex-column flex-sm-row">
                  <a class="flex-sm-fill text-sm-center nav-link " href="#tab1">Tax</a>
                  <a class="flex-sm-fill text-sm-center nav-link" href="#tab2">Notes</a>
                  <a class="flex-sm-fill text-sm-center nav-link" href="#tab3">Document</a>
                  <a class="flex-sm-fill text-sm-center nav-link " href="#tab4">Refund</a>
                  <a class="flex-sm-fill text-sm-center nav-link " href="#tab5">History</a>
                  <a class="flex-sm-fill text-sm-center nav-link " href="#tab6">Preview Changes</a>
                </nav>
              </div>
          </div>
          <div class="tab-pane" id="item3">
              <div class="card-body">
                  
                  <p class="card-text">submitted successfully</p>
              </div>
          </div>
          <div class="tab-pane" id="item4">
            <div class="card-body">
              
                <p class="card-text">successfully logout</p>
            </div>
        </div>
     </div>
   </div>
</div>
   <div class="tab-content"id="tertiaryNavTabContent">
      <div class="tab-pane" id="tab1">
  
       <table class="table" >                   
        <thead>
            <tr>
                <th>TaxCycle</th>
                <th>installment</th>                                                   
                <th>ELD</th>
                <th>Amount</th>
                <th>Amount Paid</th>
                <th>Reported Date</th>                                               
                <th>Paid Date</th>
                <th>Tar Num</th>
            </tr>
        </thead>
      </table>
  </div>
</div>
<div class="tab-content"id="tertiaryNavTabContent">
  <div class="tab-pane" id="tab2">

   <table class="table" id="2">                   
    <thead>
        <tr>
            <th>System</th>
            <th>Date</th>                                                   
            <th>Entered By Id</th>
            <th>Entered By Name</th>
            <th>Note Type</th>
            <th>Note Topic</th>                                               
            <th>Note Entry</th>
            
        </tr>
    </thead>
  </table>
</div>
</div>
  <div class="tab-content"id="tertiaryNavTabContent">
    <div class="tab-pane " id="tab3">
         <table class="table" id="3">                   
          <thead>
              <tr>
                  <th>Document Id</th>
                  <th>Document Type</th>                                                   
                  <th>Document Date</th>
                  
              </tr>
          </thead>
      </table>

   </div>

  </div>